diplomarbeit.aux
diplomarbeit.bbl
diplomarbeit.blg
diplomarbeit.idx
diplomarbeit.ilg
diplomarbeit.ind
diplomarbeit.lof
diplomarbeit.log
diplomarbeit.lot
diplomarbeit.lyx
diplomarbeit.out
diplomarbeit.toc
diplomarbeit.acn
diplomarbeit.acr
diplomarbeit.alg
diplomarbeit.glg
diplomarbeit.glo
diplomarbeit.gls
diplomarbeit.ist
diplomarbeit2.log
diplomarbeit2.md
diplomarbeit2.tex 
